
{:source-paths ["src"]
 :dependencies [[respo "0.5.14"]
                [mvc-works/hsl "0.1.2"]]
 :builds {:app {:target :browser
                :output-dir "target/"
                :asset-path "."
                :modules {:main {:entries [tiny-app.example]}}
                :devtools {:after-load tiny-app.example/reload!}}}}
